.thumbnail img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.thumbnail {
  padding: 0;
  border-radius: 10px;
}

.thumbnail .caption-full {
  padding: 10px;
}

.delete-form {
  display: inline;
}

/* Google Maps */
#map {
  height: 400px;
  width: 100%;
}

#credsBanner {
  text-align: center;
}

#passField {
  margin-top: 15px;
}

#credsContainer {
  margin-top: 8em;
}

#showBtn {
  margin: 10px 50px 30px 30px;
}

#landing-header {
  opacity: 0.5;
}

#logoIcon {
size: 20em
}

#tree {
  color: white;
}

#lead {
  text-align: center;
  position: relative;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}

@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
